/* Основные стили (по умолчанию) */
.text-4xl {
    font-size: 2.25rem; /* Размер для десктопов */
  }
  
  .text-2xl {
    font-size: 1.5rem; /* Размер для десктопов */
  }
  
  .text-xl {
    font-size: 1.25rem; /* Размер для десктопов */
  }
  
  
  
  /* Медиа-условия для планшетов */
  @media (max-width: 1024px) {
    .text-4xl {
      font-size: 2rem; /* Уменьшаем шрифт заголовка на планшетах */
    }
  
    .text-2xl {
      font-size: 1.375rem; /* Уменьшаем шрифт текста на планшетах */
    }
  
    .text-xl {
      font-size: 1.125rem; /* Уменьшаем шрифт текста на планшетах */
    }
  }
  
  /* Медиа-условия для мобильных устройств */
  @media (max-width: 768px) {
    .text-4xl {
      font-size: 1.75rem; /* Уменьшаем шрифт заголовка на мобильных устройствах */
    }
  
    .text-2xl {
      font-size: 1.25rem; /* Уменьшаем шрифт текста на мобильных устройствах */
    }
  
    .text-xl {
      font-size: 1.125rem; /* Уменьшаем шрифт текста на мобильных устройствах */
    }
  }

  @media (max-width: 600px) {
    .date-container {
        margin-top: -130px;
    }
  }
  
  /* Медиа-условия для очень маленьких экранов */
  @media (max-width: 480px) {
    .text-4xl {
      font-size: 1.5rem; /* Уменьшаем шрифт заголовка для самых маленьких экранов */
    }
  
    .text-2xl {
      font-size: 1.125rem; /* Уменьшаем шрифт текста для самых маленьких экранов */
    }
  
    .text-xl {
      font-size: 1rem; /* Уменьшаем шрифт текста для самых маленьких экранов */
    }
  }
  