.contact-section {
    background: linear-gradient(to bottom, #0f172a, #354458, #0f172a);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Чтобы форма располагалась по центру экрана */
  }
  
  .main-heading {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 40px;
  }
  
  .contact-form-container {
    width: 100%;
    max-width: 600px; /* Ограничиваем ширину формы */
    background-color: rgba(0, 0, 0, 0.7); /* Затемняем фон */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .contact-form .label {
    display: block;
    margin-bottom: 8px;
    font-size: 1rem;
    font-weight: 600;
    color: white;
  }
  
  .contact-form .text-input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
  }
  
  .contact-form .consent-section {
    display: flex;
    align-items: center;
    justify-content: center; /* Центрируем текст и чекбокс */
    margin-bottom: 15px;
  }
  
  .contact-form .consent-checkbox {
    margin-right: 10px;
  }
  
  .contact-form .consent-label {
    color: white;
    font-size: 0.9rem;
  }
  
  .contact-form .submit-btn {
    padding: 12px 30px;

    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
    margin: 0 auto; /* Центрируем кнопку */
    display: block;
  }
  

  