@media (max-width: 600px) {
    .navbar {
      height: 170px;
      
    }

    /* .navbar-container {
        height: 150px;  
       
    } */

    .navbar-links {
        flex-direction: column; 
    }
  }