/* Класс для второго контейнера */
.border-effect {
    position: relative;
    overflow: hidden;
    background-color: #354458; /* фон, чтобы было видно, если вдруг не будет ховера */
  }
  
  .border-effect::before,
  .border-effect::after {
    content: "";
    position: absolute;
    /* background: #9c00ff;  */
    background: #ff7700; /* Цвет обводки */
    transition: all 0.4s ease;
  }
  
  /* Линия сверху слева (при ховере она растягивается по горизонтали) */
  .border-effect::before {
    top: 0;
    left: 0;
    width: 0;
    height: 2px;
  }
  
  
   .border-effect::after {
    bottom: 0;
    right: 0;
    height: 3px;
    width: 0
  }
  
  /* Эффект на ховере — линии начинают расширяться и соединяются */
  .border-effect:hover::before {
    width: 100%;
  }
  
  .border-effect:hover::after {
    
    width: 100%;
  }

  @media (max-width: 1300px) {
    .main-container {
      flex-direction: column;
      align-items: center;
      height: 100%;
      
    }

    .main-block {
      width: 80%;
      height: 50rem;
    }

    .images {
      padding: 20px;
      height: 40rem;
    }

    .text-section {
      height: 40rem;
    }
   
  }

  @media (max-width: 900px) {
    
    .text-section {
      height: 100%;
    }
   
  }

  @media (max-width: 700px) {
    
    .text-section {
      height: 100%;
    }

    .images {
      height: 100%;
    }

    .main-block {
      height: 50rem;
    }
   
  }

  @media (max-width: 650px) {
    
    .text-section p, ul {
      font-size: 1rem;
    }

    .text-section h2 {
      font-size: 2rem;
    }

    .main-block {
      height: 40rem;
    }
   
  }

  @media (max-width: 450px) {
    
    .text-section p, ul {
      font-size: 0.8rem;
    }

    .text-section h2 {
      font-size: 1.5rem;
    }

    .slider-block {
      height: 30rem;
    }

    
   
  }
  
  